<div class="card h-100 mealkit" onclick="location.href='/mealkits/{{id}}';" style="cursor: pointer;">
    <img src={{imageUrl}} class="card-img-top" alt={{title}}>
    <div class="card-body d-flex flex-column pb-3" style="z-index:2; background-color:white;">
        <h5 class="card-title text-center" >{{title}}</h5>
        <p class="card-text text-center">{{description}}</p>
        <p>Includes: {{includes}}</p>
        <p>Serves {{servings}} | {{caloriesPerServing}} Calories per serving | Cooking time: {{cookingTime}} mins</p>
        <a href="#" class="btn btn-primary align-self-end ml-auto mt-auto bottom-4">${{price}}</a>
    </div>
</div>


{{!-- <div id="top-meals">
    <h1 id="top-meals-header">Top Meals</h1>
    <div id="top-meals-grid">
        <div class="meal-item">
            <div id="meal-img1"></div>
            <div class="meal-item-caption">
                <p>French Toast</p>
                <div>With a hint of Ceylon cinnamon & real vanilla bean</div>
                <div class="price-button">
                    $10.99
                </div>
            </div>
        </div>
        <div class="meal-item">
            <div id="meal-img2"></div>
            <div class="meal-item-caption">
                <p>Pea & Spinach Carbonara</p>
                <div>Made using Guanciale - not regular bacon!</div>
                <div class="price-button">
                    $12.99
                </div>
            </div>
        </div>
        <div class="meal-item">
            <div id="meal-img3"></div>
            <div class="meal-item-caption">
                <p>Chili-Lime Chicken Bowl</p>
                <div>Mexican made healthy</div>
                <div class="price-button">
                    $13.99
                </div>
            </div>                    
        </div>
    </div>
</div> --}}